{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {#    {{ parent() }}#}
    {{ include('partials/_navbar.html.twig') }}

    <div class="container w-25 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
        {{ form(emailForm) }}
    </div>
{% endblock %}
