@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monoton&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/////////////
.body {
  box-sizing: border-box;
}
//.profile-circel-image-200 img {
//  width: 200px;
//  height: 200px;
//  border-radius: 200px;
//}
////////////////////////////////
///////titre dynamique/////
//.H2{
//  position: relative;
//  font-size: 4vw;
//  color: #252839;
//  -webkit-text-stroke: 0vw red;
//  text-transform: uppercase;
//}
//.H2::before
//{
//  content: attr(data-text);
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  color: #01fe87;
//  -webkit-text-stroke: 0vw #383d52;
//  border-right: 2px solid #01fe87;
//  overflow: hidden;
//  animation: animate 6s linear infinite;
//}
@keyframes animate
{
  //0%,10%,100%
  //{
  //  width: 0;
  //}
  //70%,90%
  //{
  //  width: 100%;
  //}
}
///////////////////////////
//////carroussels/////////
.temoigne{
  font-family: 'Parisienne', cursive;
}
.temoignages{

}
//.img-text{
//  width: 100%;
//  height: 300px;
//  display: block;
//  text-align: center;
//  padding: 40% 5%;
//  border-radius: 15px;
//}
.carousel-indicators{
  left: 0;
  top: auto;
   bottom: -70px;
}
/////////////fin carroussel/////////////
///////////////////////////////

////////Animation voiture/////
//////////////////////
.car{
  width: 100%;
  right: 70px;
  bottom: 60px;
  animation: run 2s linear 1;
}
@keyframes run {
  0%{
    transform: translate(-30px, -30px);
  }
  50%{
    transform: translate(0px, 0px);
  }
}
//////////////////////////////
///////////////////////////
//logo
.logo {
  font-family: 'Monoton', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(255,242,181);


  &:hover {
    transform: translateY(-5px);
  }
}
////////////////////////
//NAVBAR
.navbar{
  padding: 0 1rem;

  i {
    font-size: .9rem;
  }

  .navbar-nav {
    .btn, .form-control{
      border-radius: 0;
    }

    .nav-item {
      font-family: 'Poiret One', cursive;
      font-size: 1.1rem;
      padding: .8rem;
      margin: .1rem .2rem;

    .nav-link {
      color: #dcedc8;
    }

    &:hover {
    transform: translateY(-2px);
    color: white;
    }


  .dropdown-menu {
     border-radius: 0;
     display: inline-block;
     min-width: 350px;
     left: 0;
     border: none;

     table {
       a{
         font-size: 1rem;
         color: #444 !important;
       }

       td {
         vertical-align: middle;
         padding: 0 1rem;
         text-align: center;

         i{
           font-size: 1.2rem;
         }
       }

       .article-prestation-image {
         padding: 0;
         width: 20%;
       }

       .article-prestation-titre-prix {
         font-weight: bolder;
         font-size: 1rem;

         .prix {
           font-style: italic;
           font-size: .7rem;
         }
       }

       .article-prestation-quantite {
         .augmenter{
           color: #26a69a;
         }

         .diminuer {
           color: #f57c00;
         }
       }

       .article-prestation-supprimer {

         color: #e53935;
       }
     }
  }
}
}
}

//////////////////////////
//FORMULAIRE DE CONNEXION
.login-form{
  width: 100%;
  max-width: 400px;
  margin: 4rem auto;
  h2{
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    &:hover{
      color: #01579b;
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem teal;
    }
  }

  form{
    box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);

    h3{
      text-align: center;
      color: #c8e6c9;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      background-color: #444;
    }

    .login-form-content{
      padding: 1rem;
    }
    button{
      width: 100%;
      text-transform: uppercase;
    }
  }
}
///////////////////////////
//PRESTATIONS
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/////////////////////////////////////
//////////flip card transfert////////////////
////////////////////////////////////
.card-wrapper{
  height: 400px;
  width: 250px;
  perspective: 1000px;
}
.content{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-wrapper:hover .content{
  transform: rotateY(180deg);
  transition: 1s;
}

.face-front, .face-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: black;
  backface-visibility: hidden;
}

.face-back{
  transform: rotateY(180deg);
}
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////VEHICULE///////////////
.img-responsive{
  max-width : 100%;
  height: auto;
  display: block;
}
.inner{
  overflow: hidden;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
transform: scale(1.5) ;
}
//////////////////////////////
////////////////////////////
////CONTACT//////////
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}